<form [formGroup]="recipeForm"
      (ngSubmit)="save()">
  <ion-grid>
    <ion-row>
      <ion-col size-xs=12
               size-sm="6"
               offset-sm="3">
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text"
                     formControlName="name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs=12
               size-sm="6"
               offset-sm="3">
        <ion-item>
          <ion-label position="floating">Duration (in minutes)</ion-label>
          <ion-input formControlName="duration"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs=12
               size-sm="6"
               offset-sm="3">
        <ion-item>
          <ion-label position="floating">Ingredients</ion-label>
          <ion-input 
                     (keyup.enter)="addIngredient($event)"></ion-input>
        </ion-item>
        <ion-chip *ngFor="let ingredient of recipeControls.ingredients.value"
                  outline="true">
          <ion-label color="primary">{{ingredient}}</ion-label>
          <ion-icon name="close"
                    (click)="removeIngredient(ingredient)"></ion-icon>
        </ion-chip>

      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col class="ion-float-right"
               size-xs=12
               size-sm="6">
        <ion-button color="primary"
                    class="ion-float-right"
                    type="submit"
                    [disabled]="!recipeForm.valid">
          SAVE
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



</form>