<ion-header>
  <ion-toolbar>
    <ion-title>recipe-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf=" recipe$| async as recipe">
<recipe-form [recipe]="recipe" [id]="id"></recipe-form>
</ion-content>
