<ion-header>
  <ion-toolbar>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list *ngIf="recipes$| async as recipes">
  <ion-item *ngFor="let recipe of recipes">
    {{recipe.name}}
  </ion-item>
</ion-list>

</ion-content>
